
<div id="log-in">
<%= form_for :session do |f| %>
    
    Email: <%= f.text_field :email %><br />
    
    Senha: <%= f.password_field :password %><br />
  <br>
    <%= f.submit "LOG IN" %>
 
<% end %>
</div>
