<%= form_for @user, url: @user.persisted? ? user_edit_path : user_new_path do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
    <% if current_user && current_user == @user || !@user.persisted? %>
    
        Nome: <%= f.text_field :name %><br />
        
        Email: <%= f.text_field :email %><br />
        
        Senha: <%= f.password_field :password %><br />
        
        Confirmação de Senha: <%= f.password_field :password_confirmation %><br />
        
    <% end %>
    
    <% if current_user && current_user.admin %>
        Gerador de conteudo: <%= f.check_box :feeder %><br />
    <% end %>
    
    <%= f.submit "Enviar" %>
  
<% end %>
