<% if @disliked %>
      <%= link_to "Descurtiu #{@post.dislike_posts.count}", dislike_post_path, method: :patch, id: "descurtir", remote: true, authenticity_token: true %>
<% else %>
  <%= link_to "Descurtir #{@post.dislike_posts.count}" , dislike_post_path, method: :patch, id: "descurtir", remote: true, authenticity_token: true %>
<% end %>