<% if @liked %>
  <%= link_to "Curtiu #{@post.like_posts.count}", like_post_path, method: :patch, id: "curtir", remote: true, authenticity_token: true %>
<% else %>
  <%= link_to "Curtir #{@post.like_posts.count}", like_post_path, method: :patch, id: "curtir", remote: true, authenticity_token: true %>
<% end %>