<p id="notice"><%= notice %></p>

<%= link_to 'Postar Ideia', new_post_path, class: "postar" %>
<h1>Feed</h1>

<table id="posts">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Conteudo ou Imagem do post</th>
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td>
          <!--mostrar texto ou imagem que foi postada-->
        <% if post.image_url.present? %>
          <%= image_tag(post.image_url, size: "50") %>
        <% else %>
          <%= post.content %>
        <% end  %>
        </td>
        <!--a opção de DESTROY somente vai aparecer parao dono do post-->
        
        <td colspan=3><%= link_to 'Show', post %></td>
        
        <% if current_user  && (post.user_id == current_user.id || current_user.admin) %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Certeza ?' } %></td>
        <% end %>
          
      </tr>
    <% end %>
  </tbody>
</table>
<div class="navPag">
  <%= will_paginate @posts %>
</div>
<br>
