<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
  <%= image_tag(@post.image_url)  if @post.image.present? %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if logged_in? %>
  <%= render 'like' %>
  <%= render 'dislike' %>
<% end %>

<%= form_for @comment, url: :comment_post do |f| %>
  <%= f.text_field :content%>
  <%= f.submit "Comentar" %>
<% end %>

<% @comments.each do |comment| %>
  <p><%= comment.content %></p>
  <p><%= link_to "Editar", edit_comment_post_path(comment)%></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', feed_path %>
