/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dataTables/jquery.dataTables
 *= require_tree .
 *= require_self
 */

body{
			margin:0px auto;
			max-width:650px;
			line-height:1.6;
			font-size:18px;
			color:#444;
			padding:0 10px;
		}

		h1,h2,h3{
			line-height:1.2;
		}

		a{
			color: #00114c;
			text-decoration: none;
		}

		a:hover{
			transition: 0.5s;
			color:#ff765e;
		}

		img {
		  display: block;
		  max-width: 100%;
		}
		
		header{
			text-align: center;
			font-size:0.75em;
		}
		
		header a{
			margin:0 10px;
			font-size:1.5em;
		}
		
		header a:hover{
			transition: 0.5s;
			color:#ff765e;
		}

		header::after {
			content:"";
			display: block;
			width: 20px;
			height: 3px;
			background: #9a9a9a;
			margin: 30px auto 0 auto;
		}

		@media (max-width: 700px){
			body {
				max-width: 550px;
			}

			h1,h2,h3{
				text-align: center;
			}

			p {
				text-align: justify;
			}
		}
		 
		form input[type="submit"]{
			margin: 3px;
			padding:2.5px;
			background-color: #edf1ff;
			color: #00114c;
			text-align: center;
			border-style: solid;
			border-color: #00114c;
			border-width:1.5px;
		}
		
		form input[type="text"]{
			border-bottom-color:#00114c;
			border-bottom-width:1.5px;
			
			border-top-width:0;
			border-left-width:0;
			border-right-width:0;
		}
		
		form input[type="password"]{
			border-bottom-color:#00114c;
			border-bottom-width:1.5px;
			
			border-top-width:0;
			border-left-width:0;
			border-right-width:0;
		}
		
		.navPag{
			text-align: center;
			margin:0 auto;
		}
		
		div#user-detail {
    background: cornflowerblue;
    height: 50px;
    padding: 10px;
    text-align: right;
    width: 100%;
    margin: 0px 0 0 0;
}

div#log-in {
    border: solid 1px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #000;
}

#log-in input[type="submit"] {
    padding: 15px;
    border-radius: 10px;
    width: 90%;cursor: pointer;
}

span.usuer {
    color: white;
    float: left;
}
a.postar {
    float: right;
    padding: 10px;
    border: solid 1px;
}