<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> Mural das Ideias</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if logged_in?%>
      <div id="user-detail">

      <p> <span class="usuer">BEM VINDO <%= current_user.name %> </span><%=link_to "Editar conta", user_edit_path(current_user.id) %> <%= link_to "Logout", logout_path, method: :delete %></p>
    
    </div>
    <% end %>

    <h1> Mural das Ideias - IN Junior</h1>
      <% if !current_user%>
        <%= link_to 'Login', login_path %>
      <% end %>
      
      <% if current_user && current_user.admin%>
        <%= link_to 'Usuários', admin_path %>
        <%= link_to 'Posts', posts_path %>
      <% end %>
      <%= link_to 'Novo Usuário', user_new_path %>
      <%= link_to 'Feed', feed_path %>
      
    </header>
    

    
    <%= render 'layouts/messages'%>
    
    <%= yield %>
  </body>
</html>
